@use '../wh-rules';
$detail-font: 7pt;
$standard-font-size: 8pt;
$background-grey: hsl(210, 11%, 93%);
$title-font: 'Baron Neue', sans-serif;


section.wh-horizontal {
    height: 8.5in;
    width: 11in;
    color: black;
    background-color: white;
    margin-bottom: 1rem;
    font-size: wh-rules.$standard-font-size;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    overflow: hidden;

    display: grid;
    grid-gap: wh-rules.$grid-gap;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 
        "name   name    name    name    job"
        "name   name    name    name    slots"
        "stats  stats    jobD    com    slots"
        "traits traits   jobD    com    slots"
        "inven  inven   inven   inven   inven";
        // "job    job     job     job"
        // "name   name    name    name"
        // "traits traits  traits   stats"
        // "slots  jobD    jobD    jobD";
    
    .job-section {
        grid-area: job;
    }
    .name-section {
        grid-area: name;
    }
    .traits-section {
        grid-area: traits;
    }
    .stats-section {
        grid-area: stats;
    }
    .slots-section {
        grid-area: slots;
    }
    .job-descrip-section {
        grid-area: jobD;
    }
    .combat-section {
        grid-area: com;
    }
    .inventory-section {
        grid-area: inven;
    }
}

em {
    font-size: wh-rules.$detail-font;
}

.card {
    background-color: $background-grey;
    border-radius: 5px;
    padding: 0.3rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    .card-title {
        color: grey;
        font-family: $title-font;
        border-bottom: 1px solid darkgrey;
    }
    .card-body {
        display: grid;
    }
}