@use '../cyStyles';

.combat {
    font-size: 6.5pt;
    .single-line {
        &:not(.bottom) {
            writing-mode: vertical-rl;
        }
        &.left {
            transform: rotate(180deg);
            writing-mode: vertical-lr;
        }
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, max-content);
        column-gap: 0.3rem;
    }

    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 5.75pt;
        &.slasher {
            font-size: 5.5pt;
        }
    }
}