<section *ngFor="let class of classDescriptions" class='wh-vert-sheet'>
    <span class='job-description'>
        <strong>
            THE {{class.className}}
        </strong>
        <em>
            {{class.description}}
        </em>
    </span>

    <section class='name-section card'>
        <span class='card-title'>
            <span class='important'>name</span> yourself, mark down <span class='important'>species</span> and <span class='important'>vocation</span> groups, and learn common and one other <span class='important'>language</span>
        </span>
        <span class='card-body'>
            <span class='name'>
                Name
                <div class='empty-box'></div>
            </span>
            <span class='species'>
                Species & Vocation
                <div class='empty-box'></div>
            </span>
            <span class='level'>
                Level
                <div class='empty-box'></div>
            </span>
            <span class='xp'>
                XP
                <div class='empty-box'>
                    <em class="details">current</em>
                </div>
                <div class='empty-box'>
                    <em class="details">to next level up</em>
                </div>
            </span>
            <span class='lang'>
                Languages, Details, & Musings
                <div class='empty-box'>
                    <em class="details">+1 lang. int 13+ / +2 lang. int 16+</em>
                </div>
            </span>
        </span>
    </section>

    <section class='stats-section card'>
        <span class='card-title'>
            mark down your <span class='important'>stats</span>, ro-roll <span class='important'>hd</span> each level
        </span>
        <span class='card-body'>
            <section class='non-core-stats' *ngFor='let nStat of nonCoreStats'>
                <section class='nStat-group'>
                    <strong>
                        {{nStat.statName}}
                    </strong>

                    <span class="details">
                        <div class="nStat-details" *ngIf="class.className === 'strong' && nStat.strongDesc; else wiseBlock">
                            <em *ngFor="let detail of nStat.strongDesc">
                                <div [ngClass]="{
                                    'check': nStat.statName === 'hit points' || nStat.statName === 'attack value'
                                }">
                                    {{detail}}
                                </div>
                            </em>
                        </div>
                        <ng-template #wiseBlock>
                            <div class="nStat-details"  *ngIf="class.className === 'wise' && nStat.wiseDesc; else generic">
                                <em *ngFor="let detail of nStat.wiseDesc">
                                    {{detail}}
                                </em>
                            </div>
                        </ng-template>
                        <ng-template #generic>
                            <div class="nStat-details">
                                <em                                 [ngClass]="{
                                    'check': nStat.statName === 'initiative'
                                }" *ngFor="let detail of nStat.description">
                                    {{detail}}
                                </em>
                            </div>
                        </ng-template>
                    </span>

                    <span class='hp-box' *ngIf='nStat.statName === "hit points"'>
                        <div class='empty-box'>
                            <em class='details'>current</em>
                        </div>
                        <div class='empty-box'>
                            <em class='details'>max</em>
                        </div>
                    </span>
                    <span [ngClass]='{
                        "init": nStat.statName === "initiative",
                        "attack": nStat.statName === "attack value"
                    }'>
                        <div *ngIf='nStat.statName !== "hit points"' class='empty-box circle'>
                        </div>
                        <div *ngIf='nStat.statName === "attack value"' class='empty-box'>
                            <em class='details'>weapon name</em>
                        </div>
                        <div *ngIf='nStat.statName === "attack value"' class='empty-box'>
                            <em class='details'>dmg</em>
                        </div>
                    </span>
                </section>
            </section>
        </span>
    </section>

    <section class='traits-section card'>
        <span class='card-title'>
            roll 3d6 for each <span class='important'>trait</span> and place it in a circle. mark <span class='important'>groups</span> next to them.
        </span>
        <span class='card-body'>
            <section *ngFor='let stat of stats'>
                <span class='stat-group'>
                    <strong>{{stat.statName}}</strong>
                    <em class='details'>{{stat.description}}</em>
                    <div class='empty-box circle'></div>
                    <span class='groups-section'>
                        <div class='empty-box'></div>
                        <div class='empty-box'></div>
                    </span>
                </span>
            </section>
        </span>
    </section>

    <section class='job-details-section card'>
        <span class='card-title'>
            note what the <span class='important'>{{class.className}}</span> can do
        </span>
        <span class='card-body'>
            <section *ngFor="let classDetails of getObjSansClass(class.className, classFeatures) | keyvalue: originalOrder; first as isFirst">
                <strong [ngClass]="{'keyword-title': class.className === 'strong' && isFirst}">{{classDetails.key | uppercase}}</strong>
                <span class="strong-keyword" *ngIf="class.className === 'strong' && isFirst">
                    <div class='empty-box'></div>
                    <div class='empty-box'>
                        <em class='details'>current</em>
                    </div>
                    <div class='empty-box'>
                        <em class='details'>max</em>
                    </div>
                </span>
                <span [innerHTML]="classDetails.value"></span>
            </section>
        </span>
    </section>

    <section class='special-combat-section card'>
        <span class='card-title'>
            general <span class='important'>combat</span> rules
        </span>
        <span class='card-body'>
            <span>
                <strong>Initiative.</strong>
                &nbsp;Roll a d6: high roll wins. If there is a tie, missles before melee; lighter weapons before heavier ones.
                <p>&nbsp;&nbsp;If you do nothing during your turn, you can change your initiative to 6 in following rounds.</p>
                <p>&nbsp;&nbsp;You can choose a lower position. In the first round after this choice, you can go before others on the same initiative.</p>
            </span>

            <span>
                <strong>Actions During a Round.</strong>
                &nbsp;attack&#8594;move&#8594;small action
            </span>

            <span>
                <strong>Free Attack & Disengaging</strong>
                &nbsp;Casting a spell, quaffing a potion, taking something out of a bag, moving out of melee range, and similar actions give every ready enemy in melee range a free attack. You can only make one free attack per round, except for the Strong.
                <p>&nbsp;&nbsp;To disengage, you must move backwards at a careful pace (-10ft/-2sq), still facing your opponent.</p>
            </span>

            <span>
                <strong>Combat Advantage</strong>
                &nbsp;The Referee decides when there is advantage, but generally flanking, high ground, sure footing vs. poor footing, back strikes or attacking unawares enemies grants +2AV/dmg.
            </span>

            <span class="persist-descrip">
                <strong>Persist.</strong> Once/combat, make an CON task roll or save against <i>incoming damage</i>. On success, reduce dmg. by d6. On fail and/or if dmg. takes you into negative HP, knocked out for 2 rounds.
            </span>

            <!-- <div><strong>Charge.</strong> Move 15 feet in a straight line and attack with combat advantage. -3 AC until your next turn.</div>
            <div><strong>Defense.</strong> Take -2 AV or -2 dmg., or -1 AV <i>and</i> -1 dmg., to get +2 AC</div>
            <div><strong>Offense.</strong> Take -2 AC and get +1 AV and +1 dmg. Lasts until your next turn.</div>
            <div><strong>Grapple.</strong> Make unarmed attack, but forsake dmg. to hold enemy. The enemy must win a contest against your STR to break free.</div>
            <div><strong>Protect.</strong> Make a <i>task roll</i> against your AV. On success, next attack on an adjacent friend targets you. Enemy may save to avoid.</div>
            <div><strong>Press.</strong> Take penalty to your AV when using a special combat option, give your enemy the same penalty. If you fail or if the save succeeds, the enemy gets combat adv. against you in the next round.</div>
            <div><strong>Persist.</strong> Once/combat, make an CON task roll or save against <i>incoming damage</i>. On success, reduce dmg. by d6. On fail and/or if dmg. takes you into negative HP, knocked out for 2 rounds.</div>

            <div><strong>Trick.</strong> Attack and exchange your damage roll for one of the following, each negated by enemy save:
                <ul>
                  <li>
                    <strong>Push</strong> the enemy 5 ft. away, and follow if you like.
                  </li>
                  <li>
                    <strong>Feint</strong> to make 2 attacks with combat adv. next round.
                  </li>
                  <li>
                    <strong>Disarm</strong> the enemy to drop their weapon 2d6 ft. away.
                  </li>
                  <li>
                    <strong>Trip</strong> the enemy so that they lose their move in the next round, giving you combat adv.
                  </li>
                </ul>
              </div> -->
        </span>
    </section>

    <section class='slots-section card'>
        <section class='card-title'>
            <span *ngIf='class.className === "strong"'>
                <span>
                    CHOOSE 1 <span class='important'>COMBAT OPTION</span> PER SLOT
                </span>
                <em>
                    gain new slots at level 4, 7, & 10
                </em> 
            </span>
            <span *ngIf='class.className === "deft"'>
                <span>
                    <span class='important'>ATTUNE</span> A TEACHER, ITEM, PET, OR PLACE
                </span>
                <em>
                    gain new slots at level 4, 7, & 10
                </em>
            </span>
            <span *ngIf='class.className === "wise"'>
                <span>
                    TIE <span class='important'>MIRACLES</span> TO SLOTS
                </span>
                <em>
                    gain new slots at level 3, 5, 7, & 9
                </em>
            </span>
        </section>
        <section class='card-body' *ngFor='let classSpecial of getObjSansClass(class.className, classSpecials) | keyvalue: originalOrder'>
            <span class='grid strong-options-grid' *ngIf='class.className === "strong"; else slotsSection'>
                <p class='strong-combat-options' *ngFor='let combatAction of classSpecial.value' [innerHTML]='combatAction'>
                </p>
            </span>
            <ng-template #slotsSection>
                <section class='slot-section grid'>
                    <section
                     [ngClass]="{'wiseSlot': class.className === 'wise'}" class='slot-split empty-box grid' *ngFor="let slot of classSpecial.value; first as isFirst; let i = index">
                        <div class='slot-box'></div>
                        <div class='slot-box'></div>
                        <div class='slot-box' *ngIf='class.className === "wise" && isFirst'>
                            <em>Req. 13+ WIS</em>
                        </div>
                        <div class='slot-box' *ngIf='class.className === "wise" && isFirst'>
                            <em>Req. 16+ WIS</em>
                        </div>
                    </section>
                </section>
            </ng-template>
        </section>
    </section>

    <section class='inventory-section card'>
        <section class='card-title'>
            ROLL 3D6*10 <span class='important'>GOLD</span> TO START. YOU CAN HOLD <span class='important green'>10 REGULAR-SIZED OBJECTS</span> + 5 IN A <span class='important gold'>BACKPACK</span> BEFORE SLOWING DOWN. <span class='important'>HEAVY OBJECTS</span> TAKE TWO SLOTS; <span class='important'>MINOR OBJECTS</span> TAKE HALF A SLOT. NO-SIZED ITEMS LIKE COINS FIT 100 TO A SLOT.
        </section>
        <section class='card-body'>
            <section class='main-inventory'>
                <div class='inventory-slot' *ngFor='let num of inventory'>
                    <span>{{num}}</span>
                    <div></div>
                    <div></div>
                </div>
            </section>
            
            <section class='extra-inventory'>
                <div class='inventory-slot' *ngFor='let num of extraInventory'>
                    <span>{{num}}</span>
                    <div></div>
                    <div></div>
                </div>
            </section>
        </section>
    </section>
</section>