$title-font: 'Baron Neue', sans-serif;
$detail-font-size: 6.3pt;
$standard-font-size: 9pt;
$large-font-size: 8.5pt;
$field-size: 20pt;

$bio-card-color: red;
$inventory-card-color: hsl(22, 100%, 50%);
$background-grey: hsl(210, 11%, 93%);

section.wh-vert-sheet {
    margin-bottom: 1rem;
    background-color: white;
    color: black;
    width: 8.5in;
    height: 11in;
    overflow: hidden;
    padding: 0.5rem 0.5rem 2rem 0.5rem;

    font-size: $standard-font-size;

    display: grid;
    grid-template-rows: repeat(5, min-content) max-content;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.3rem;
    grid-template-areas: 
        "job    job     job"
        "name   name    name"
        "stat   trait   trait"
        "jobD    slots   spe"
        "jobD    slots   spe"
        "inven  inven   inven";

    em {
        text-transform: lowercase;
    }

    ul {
        margin: 0rem;
        padding-left: 15px;
    }

    strong {
        text-transform: uppercase;
    }

    .details {
        font-size: $detail-font-size;
    }

    .card {
        background-color: $background-grey;
        // border: 1px solid darkgrey;
        border-radius: 5px;
        padding: 0.3rem;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        .card-title {
            color: grey;
            font-family: $title-font;
            font-size: $large-font-size;
            border-bottom: 1px solid darkgray;
            .important {
                color: black;

                &.green {
                    color: darkgreen;
                }

                &.gold {
                    color: goldenrod;
                }
            }
        }
        .card-body {
            display: grid;
        }
    }

    .empty-box {
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
        color: darkgrey;

        display: grid;
        place-content: end center;

        &.circle {
            border-radius: 50%;
            width: 18pt;
            height: 18pt;

            place-content: center;
        }
    }

    .job-description {
        grid-area: job;
        place-self: center;
        display: grid;
        column-gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "name   descrip";
        strong {
            grid-area: name;
            font-family: $title-font;
            font-size: $large-font-size;
            padding-right: 0.5rem;
            border-right: 1px solid black;
        }
        em {
            padding-left:0.1rem;
            grid-area: descrip;
            font-size: $detail-font-size;
        }
    }

    .name-section {
        grid-area: name;
        .card-body {
            grid-template-areas:
                "name       lang    xp   level"
                "species    lang    xp   level";
            grid-template-columns: 29% 45% 20% 5%;
            grid-template-rows: repeat(2, auto);
            column-gap: 0.2rem;

            span {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: min-content $field-size;
                row-gap: 0.2rem;

                &.lang, &.level {
                    grid-template-rows: min-content auto;
                }
                &.xp {
                    row-gap: 0rem;
                    grid-template-rows: min-content auto auto;
                    div.empty-box:nth-child(1) {
                        border-bottom-right-radius: 0rem;
                        border-bottom-left-radius: 0rem;
                        border-bottom: 1px dotted black;
                    }
                    div.empty-box:nth-child(2) {
                        border-top-left-radius: 0rem;
                        border-top-right-radius: 0rem;
                        border-top: none;
                    }
                }
            }

            .name {
                grid-area: name;
            }
            .level {
                grid-area: level;
            }
            .species {
                grid-area: species; 
            }
            .xp {
                grid-area: xp;
            }
            .lang {
                grid-area: lang;
            }
        }
    }

    .stats-section {
        grid-area: stat;
        .card-body {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, min-content);
            grid-gap: 1rem;
            padding-top: 0.3rem;

            .non-core-stats {
                .nStat-group {
                    display: grid;
                    column-gap: 0.3rem;
                    grid-template-columns: 1fr 2fr;
                    grid-template-rows: repeat(2, min-content);
                    grid-template-areas:
                        "name       box"
                        "descrip    box";

                    strong {
                        grid-area: name;
                    }

                    .details {
                        grid-area: descrip;
                        div.nStat-details {
                            display: grid;
                            grid-template-rows: repeat(2, 1fr);
                            grid-template-columns: 1fr;

                            .check::before {
                                content: '';
                                display: inline-block;
                                width: 5px;
                                height: 5px;
                                border-radius: 7.5px;
                                border: 1px solid black;
                                background-color: white;
                            }
                        }
                    }
                    span:not(.details) {
                        grid-area: box;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 25pt;

                        &:not(.hp-box, .init) {
                            place-self: center start;
                        }

                        &.init {
                            grid-template-columns: repeat(2, min-content);
                            column-gap: 0.5rem;
                        }

                        &.attack {
                            grid-template-columns: 1fr 3fr 1fr;
                            div.empty-box:nth-child(2) {
                                border-top-right-radius: 0rem;
                                border-bottom-right-radius: 0rem;
                                border-right: 1px dotted black;
                                margin-left: 0.3rem;
                            }
                            div.empty-box:nth-child(3) {
                                border-top-left-radius: 0rem;
                                border-bottom-left-radius: 0rem;
                                border-left: none;
                            }
                        }

                        &.hp-box {
                            div.empty-box:nth-child(1) {
                                border-top-right-radius: 0rem;
                                border-bottom-right-radius: 0rem;
                                border-right: 1px dotted black;
                            }
                            div.empty-box:nth-child(2) {
                                border-top-left-radius: 0rem;
                                border-bottom-left-radius: 0rem;
                                border-left: none;
                            }
                        }
                    }

                    .empty-box.circle{
                        height: 25pt;
                        width: 25pt;
                    }
                }
            }
        }
    }

    .traits-section {
        grid-area: trait;
        .card-body {
            padding-top: 0.3rem;
            grid-gap: 0.5rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            .stat-group {
                display: grid;
                column-gap: 0.3rem;
                grid-template-columns: 15% 5% 75%;
                grid-template-rows: repeat(2, min-content);
                grid-template-areas:
                    "name       stat-circle groups"
                    "descrip    stat-circle groups";
                
                strong {
                    grid-area: name;
                }
                em {
                    grid-area: descrip;
                }
                div {
                    grid-area: stat-circle;
                }
                span.groups-section {
                    grid-area: groups;
                    display: grid;
                    grid-template-rows: $field-size;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "first  second";

                    div {
                        border-radius: 10pt;
                    }

                    >div:nth-child(1) {
                        grid-area: first;
                        border-top-right-radius: 0rem;
                        border-bottom-right-radius: 0rem;
                        border-right: 1px dotted black;
                    }
                    >div:nth-child(2) {
                        grid-area: second;
                        border-top-left-radius: 0rem;
                        border-bottom-left-radius: 0rem;
                        border-left: none;
                    }
                }
            }
        }
    }

    .job-details-section {
        grid-area: jobD;
        .card-body {
            row-gap: 0.3rem;
            section {
                text-transform: none;
                display: grid;
                grid-template-columns: 1fr;
                strong:not(.keyword-title) {
                    border-bottom: 1px solid black;
                }
                .strong-keyword {
                    display: grid;
                    grid-template-columns: 70% 15% 15%;
                    grid-template-rows: 1fr;
                    .empty-box {
                        height: 20pt;

                        &:nth-child(1) {
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                            border-right: none;
                        }

                        &:nth-child(2) {
                            border-left: 1px dotted black;
                            border-right: 1px dotted black;
                            border-radius: 0px;
                        }
                        &:nth-child(3) {
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                            border-left: none;
                        }
                    }
                }
            }
        }
    }

    .special-combat-section {
        grid-area: spe;
        .card-body {
            display: grid;
            grid-gap: 0.5rem;
            text-transform: none;
            strong {
                text-transform: uppercase;
            }
            p {
                margin-top: 0rem;
                margin-bottom: 0rem;
            }
            .persist-descrip::after {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 7.5px;
                border: 1px solid black;
                background-color: white;
            }
        }
    }

    .slots-section {
        grid-area: slots;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;

        .card-title>span {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);

            em {
                font-size: 5pt;
            }
        }

        .strong-combat-options {
            &:before {
                content: '';
                border: 1px solid black;
                background-color: white;
                height: 10px;
                width: 10px;
                border-radius: 1rem;
                display: inline-block;
            }
            font-size: 8pt;           
        }

        .strong-options-grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, min-content);
            row-gap: 0.3rem;

            p {
                margin: 0rem;
            }
        }

        .slot-section {
            grid-gap: 0.5rem;
        }

        .slot-lining {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 20pt);

            div.slot-box {
                display: grid;
                &:not(:last-child) {
                    border-bottom: 1px solid black;
                }
            }
        }

        .slot-split {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);

            &.wiseSlot {
                &:first-child {
                    grid-template-rows: repeat(4, 1fr);
                }
            }

            div.slot-box {
                display: grid;
                &:not(:last-child) {
                    border-bottom: 1px solid black;
                }
                &:before {
                    content: '';
                    border: 1px solid black;
                    border-radius: 1rem;
                    background-color: white;
                    display: block;
    
                    position: relative;
                    width: 10px;
                    height: 10px;
                    top: 40%;
                    right: 6.5px;
                }

                em {
                    text-transform: uppercase;
                    position: relative;
                    top: 4px;
                    justify-self: end;
                    font-size: 0.7rem;
                    padding-right: 0.3rem;
                    color: grey;
                }
            }
        }
    }

    .inventory-section {
        grid-area: inven;

        .card-title {
            border-bottom: none;
        }

        .card-body {
            background-color: white;
            display: grid;
            grid-template-areas:
                "main extra";
        
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: max-content;
            column-gap: 0.5rem;
            padding-bottom: 0rem;
            place-content: center;

            .main-inventory {
                grid-area: main;
                .inventory-slot > span {
                    color: darkgreen;
                }
            }

            .extra-inventory {
                grid-area: extra;
                .inventory-slot:nth-child(-n+5) {
                    color: rgb(226, 155, 0);
                }
                .inventory-slot:nth-child(n+6) {
                    color: rgb(192, 0, 0);
                }
            }

            .inventory-slot {
                display: grid;
                grid-template-columns: 0.1fr repeat(2, 1fr);
                grid-template-rows: 15pt;
                border-bottom: 1px solid black;

                span {
                    place-self: center start;
                    font-family: $title-font;
                }

                div:nth-child(3) {
                    border-left: 1px dotted black;
                }
            }
        }
    }
}
