table {
    border-spacing: 0rem;
    margin: 0rem;
}

th {
    text-align: left;
}

th, strong {
    font-family: 'Gabriela-Regular', sans-serif;
}

strong {
    font-size: 9pt;
}

.death-table {
    td {
        padding-right: 3pt;
    }
}

td {
    padding-right: 12pt;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

em {
    font-size: 9pt;
}

.backLayout {
    align-content: center;
    min-height: 11in;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
        "table  hit"
        "com    hit"
        "com    rang"
        "heal   short"
        "heal   death";
    
    .advancement-table {
        grid-area: table;
    }
    .crit-hit {
        grid-area: hit;
    }
    .crit-miss {
        grid-area: miss;
        .body {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 6pt;
        }
    }
    .crit-data {
        grid-area: cData;
    }
    .ranged {
        grid-area: rang;
    }
    .special-combat {
        grid-area: com;
    }
    .healing {
        grid-area: heal;
    }
    .death {
        grid-area: death;
    }
    .magick {
        grid-area: mag;
        .extra-magick {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
    }
    .short {
        grid-area: short;
    }

    &.wise {
        grid-template-areas:
        "table  hit"
        "com    hit"
        "com    rang"
        "heal   short"
        "heal   death"
        "mag    mag";
        .card {
            font-size: 9pt;
        }
    }
}

.card {
    margin: 3pt;
    font-size: 10.5pt;
    background-color: #ebedef;
    border-radius: 5px;
    padding: 0.3rem;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "title"
        "body";
    .title {
        grid-area: title;
    }
    .body {
        grid-area: body;
    }
}

ul {
    margin: 0rem;
    padding-left: 1rem;
}