@use '../cyStyles';
$areas: name, urInfo, llInfo, lrInfo;
.card {
    height: 92%;
    .card-body {
        grid-template-areas:
            "name   urInfo"
            "llInfo lrInfo";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 25pt 35pt;

        &.horz {
            grid-template-rows: 18pt 28pt;
        }

        @each $area in $areas {
            .#{$area} {
                grid-area: #{$area};
            }
        }

        .urInfo {
            border-bottom: none;
            border-left: none;
            display: grid;
            place-content: start;
        }
        .llInfo {
            border-right: none;
            border-top: none;
        }
        .lrInfo {
            border-left: none;
            border-top: none;
        }
    }
}