<div class="card">
    <span class="card-title">
        <span class="important">/// automatic information system corrupted...reboot failed; /// manually enter your <strong>name</strong> <span *ngIf='!isClassless'>, roll {{extraInfo}}</span>, and submit any/all other information.</span>
    </span>
    <span [ngClass]="{'horz': horz}" class="card-body">
        <div class="empty-box">
            <em>.name</em>
        </div>
        <div class="empty-box urInfo">
            <span *ngIf="specialTraits" class="important">
                <span [innerHtml]="specialTraits"></span>
            </span>
        </div>
        <div class="empty-box lrInfo"></div>
        <div class="empty-box llInfo">
            <em>.info</em>
        </div>
    </span>
</div>