@use 'cyStyles';
$areas: descrip, identity, stats, equip, nanoApps, combat, legal, info-left, info-right, info-bottom;

.cyborg-sheet {
    display: grid;
    grid-gap: 0.3rem;
    background-color: white;
    color: black;
    padding: 0.3rem;
    overflow: none;

    div {
        height: 100%;
        @each $area in $areas {
            &.#{$area} {
                grid-area: #{$area};
            }
            &.legal {
                display: grid;
                grid-template-rows: 1fr;
                row-gap: 1rem;
                font-size: cyStyles.$small-font;
                grid-template-areas:
                    "legal1     legal2";
                
                em:nth-child(1) {
                    grid-area: legal1;
                }
                em:nth-child(2) {
                    display: grid;
                    place-self: start end;
                }
            }
        }
    }

    &.vert {
        margin-bottom: 1rem;
        place-self: center stretch;
        height: 11in;
        width: 8.5in;
        grid-template-columns: min-content repeat(4, 1fr) min-content;
        grid-template-rows: repeat(6, min-content);
        grid-template-areas:
            "info-left       identity       identity    identity       descrip       info-right"
            "info-left       stats          equip       equip          equip         info-right"
            "info-left       stats          equip       equip          equip         info-right"
            "info-left       nanoApps       nanoApps    nanoApps       nanoApps      info-right"
            "info-left     info-bottom    info-bottom info-bottom    info-bottom   info-right"
            "legal           legal          legal       legal          legal         legal";
    }
    
    &.horz {
        width: 11in;
        height: 8.5in;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: min-content min-content repeat(3, min-content) min-content;
        grid-template-areas:
            "  identity       identity    identity       descrip "
            "  identity       identity    identity        nanoApps"
            "  stats          equip       equip          nanoApps"
            "  stats          equip       equip          nanoApps"
            "  stats          equip       equip          nanoApps"
            "  info-bottom    info-bottom info-bottom    info-bottom"
            "  legal          legal       legal          legal   ";
    }
}

.pick-something {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "punk   style   print";
    row-gap: 1rem;
    padding: 0.3rem;
    border: 1px solid white;
    span, select {
        font-size: 10pt;
    }
    span {
        display: grid;
        grid-template-rows: 1fr;
        place-self: center;
    }
    select {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: bold;
        border: 1px solid white;
        background-color: black;
        color: white;
        border: none;
        margin-left: 0.3rem;
    }
}


@media print {
    .pick-something {
        display: none;
    }
}