@use '../whStyles';
.card {
    &:not(.horz) {
        border-right: none;
    }
    height: 97.5%;

    .card-body {
        ul {
            margin: 0rem;
            padding-left: 1rem;
        }
        &:not(.horz) {
            font-size: 8.45pt;
        }
        display: grid;
        grid-gap: 0.5rem;
        text-transform: none;
        strong {
            text-transform: uppercase;
        }
        p {
            margin-top: 0rem;
            margin-bottom: 0rem;
        }

        .persist-descrip {
            i::after {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 7.5px;
                border: 1px solid black;
                background-color: white;
                margin-left: 0.5rem;
            }
        }
    }
}