<div [ngClass]="{'horz': horz}" class="card">
    <span class="card-title">
        general <span class="important">combat</span> rules
    </span>

    <span [ngClass]="{'horz': horz}" class='card-body'>
        <span>
            <strong>Initiative.</strong>
            &nbsp;Roll a d6: high roll wins. If there is a tie, missiles before melee; lighter weapons before heavier ones.
            <p>&nbsp;&nbsp;If you do nothing during your turn, you can change your initiative to 6 in following rounds.</p>
            <p>&nbsp;&nbsp;You can choose a lower position. In the first round after this choice, you can go before others on the same initiative.</p>
        </span>
    
        <span>
            <strong>Actions During a Round.</strong>
            &nbsp;attack&#8594;move&#8594;small action
        </span>
    
        <span>
            <strong>Free Attack & Disengaging</strong>
            &nbsp;Casting a spell, quaffing a potion, taking something out of a bag, moving out of melee range, and similar actions give every ready enemy in melee range a free attack. You can only make one free attack per round, except for the Strong.
            <p>&nbsp;&nbsp;To disengage, you must move backwards at a careful pace (-10ft/-2sq), still facing your opponent.</p>
        </span>
    
        <span>
            <strong>Combat Advantage</strong>
            &nbsp;The Referee decides when there is advantage, but generally flanking, high ground, sure footing vs. poor footing, back strikes or attacking unawares enemies grants +2AV/dmg.
        </span>
    
        <span class="persist-descrip">
            <strong>Persist.</strong> Once/combat, make an CON task roll or save against <i>incoming damage.</i>
            <ul>
                <li>
                    On success, reduce dmg. by d6. This does not heal you.
                </li>
                <li>
                    On fail, take full dmg. If HP > 0, stunned for 2 rounds.
                </li>
                <li>
                    If dmg takes you into negative HP, die in d6 rounds.
                </li>
            </ul>
        </span>
    </span>
</div>