$detail-font: 6pt;
$standard-font-size: 8pt;
$large-font-size: 8.5pt;
$background-grey: hsl(210, 11%, 93%);
$title-font: 'Baron Neue', sans-serif;
$standard-gap: 0.3rem;
$field-size: 27pt;

em {
    font-size: $detail-font;
}

.use-circle::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 7.5px;
    border: 1px solid black;
    background-color: white;
    margin-left: $standard-gap;
}

.card {
    height: 100%;
    font-size: $standard-font-size;
    // background-color: $background-grey;
    border-right: 0.1rem solid darkgrey;
    // border-radius: 5px;
    padding: 0.3rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
        "title"
        "body";

    .card-title {
        grid-area: title;
        font-family: $title-font;
        text-transform: uppercase;
        color: grey;
        font-size: $large-font-size;
        border-bottom: 1px solid darkgray;
        .important {
            color: black;

            &.green {
                color: darkgreen;
            }

            &.gold {
                color: goldenrod;
            }
        }
        em {
            font-size: $detail-font;
        }
    }
    .card-body {
        grid-area: body;
        display: grid;

        .section-title {
            font-family: $title-font;
            text-transform: uppercase;
        }
    }
}

.empty-box {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: darkgrey;

    display: grid;
    place-content: end center;

    &.circle {
        border-radius: 50%;
        width: 18pt;
        height: 18pt;

        place-content: center;
    }
}