@use '../cyStyles';
$line-size: 30px;

.card {
    height: 98.5%;
    .card-title {
        .important {
            display: grid;
            grid-template-columns: 27% 73%;
            grid-template-rows: 1fr;
            em {
                font-size: cyStyles.$small-font;
                text-transform: none;
                place-self: center start;
            }
        }
        &.horz {
            .important {
                grid-template-columns: 29% 71%;
            }
        }
    }
    .card-body {
        .important {
            font-size: cyStyles.$small-font;
        }
        grid-template-rows: min-content repeat(2, $line-size) $line-size*1.5 auto;
        grid-template-areas: 
            "descrip"
            "weaponL"
            "weaponR"
            "armor"
            "inven";

            .descrip {
                grid-area: descrip;
            }
            .weaponL {
                grid-area: weaponL;
            }
            .weaponR {
                grid-area: weaponR;
            }
            .inven {
                grid-area: inven;
            }
        row-gap: 0.3rem;

        &.horz {
            column-gap: 0.3rem;
            grid-template-rows: min-content 40px 60px auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                "descrip    descrip"
                "weaponL    weaponR"
                "armor      armor"
                "inven      inven";

            .armor {
                .empty-box {
                    em {
                        font-size: 6.8pt;
                    }
                }
            }

        }

        .weapon {
            grid-template-columns: 80% 10% 10%;
            grid-template-rows: 1fr;
            .empty-box {
                border: none;
                &:nth-child(1) {
                    border-right: 1px dotted;
                }
                &:nth-child(3) {
                    border-left: 1px dotted;
                }
            }
        }

        .armor {
            grid-template-columns: 80% 20%;
            grid-template-rows: 1fr;
            grid-area: armor;

            .empty-box {
                border: none;
            }

            .tiers {
                place-self: center stretch;
                display: grid;
                padding-top: 0.3rem;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                .tier-section {
                    .circle {
                        strong {
                            background-color: white;
                        }
                        $circle-size: 15px;
                        display: grid;
                        place-content: center;
                        height: $circle-size;
                        width: $circle-size;
                        // border-color: cyStyles.$highlight-color;
                    }
                }
            }
        }

        .slots {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(11, 1fr);
            div {
                display: grid;
                place-content: center start;
                border-bottom: 1px dotted;

                &:nth-child(even) {
                    border-left: 1px dotted;
                }
                &:nth-child(21), &:nth-child(22) {
                    border-bottom: none;
                }
                em {
                    margin-left: 0.3rem;
                }
            }
        }

    }
}