<section *ngFor='let clan of vampireClanInfo | keyvalue' class='vampire-sheet-grid grid'>
    <section class='char-title-section grid'>
        <h1>VAMPIRE</h1>
        <span class='name'>
            Name
            <div class='empty-box'></div>
        </span>
        <span class='level'>
            Level
            <div class='empty-box'></div>
        </span>
    </section>

    <section class='clan'>
        CLAN
        <!-- <div>{{clan | json}}</div> -->
    </section>

    <section class='srh grid'>
        <span class='stress'>
            <div class='title'>STRESS</div>
            <div class='empty-box'></div>
        </span>
        <span class='resolve'>
            <div class='title'>RESOLVE</div>
            <div class='empty-box'></div>
        </span>
        <span class='health'>
            <div class='title'>HEALTH</div>
            <span class='max-health grid'>
                <div class='empty-box'></div>
                <div class='empty-box long'></div>
            </span>
        </span>
    </section>

    <section class='stats numbers-grid'>
        <span class='str'>
            <div class='title'>STRENGTH</div>
            <div class='empty-box'></div>
        </span>
        <span class='spd'>
            <div class='title'>SPEED</div>
            <div class='empty-box'></div>
        </span>
        <span class='int'>
            <div class='title'>INTELLECT</div>
            <div class='empty-box'></div>
        </span>
        <span class='com'>
            <div class='title'>COMBAT</div>
            <div class='empty-box'></div>
        </span>
    </section>

    <section class='saves numbers-grid'>
        <span class='sanity gray-box'>
            <div class='title'>SANITY</div>
            <div class='empty-box'></div>
        </span>
        <span class='fear gray-box'>
            <div class='title'>FEAR</div>
            <div class='empty-box'></div>
        </span>
        <span class='body gray-box'>
            <div class='title'>BODY</div>
            <div class='empty-box'></div>
        </span>
        <span class='armor gray-box'>
            <div class='title'>ARMOR</div>
            <div class='empty-box'></div>
        </span>
    </section>

    <!-- <section class='loadout'>
        LOADOUT
    </section> -->

    <section class='skills'>
        SKILLS
        <!-- <div *ngFor='let skill of clan.value.startingDisiplines'>
            {{skill}}
        </div> -->
    </section>

    <section class='notes'>
        NOTES & STUFF
        <div class='empty-box'></div>
    </section>
</section>