<div class="card">
    <span class="card-title">
        <span class="important">name</span> yourself, mark down <span class="important">species</span> and <span class="important">vocation</span> groups, and learn common and one other <span class="important">language</span>
    </span>
    <span class="card-body">
        <span class='name'>
            Identity
            <div class='empty-box'></div>
        </span>
        <span class='species'>
            Species & Vocation
            <div class='empty-box'></div>
        </span>
        <span class='level'>
            Level
            <div class='empty-box'></div>
        </span>
        <span class="corruption">Corruption
            <div class="empty-box"></div>
        </span>
        <span class='xp'>
            XP
            <div class='empty-box'>
                <em class="details">current</em>
            </div>
            <div class='empty-box'>
                <em class="details">to next level up</em>
            </div>
        </span>
        <span class='lang'>
            Languages, Details, & Musings
            <div class='empty-box'>
                <em class="details">+1 lang. int 13+ / +2 lang. int 16+</em>
            </div>
        </span>
    </span>
</div>