@use '../wh-rules';

.card-body {
    grid-gap: wh-rules.$grid-gap;
    grid-template-columns: 30% 50% 13% 5%;
    grid-template-areas:
        "name       lang    xp      level"
        "species    lang    xp      level";

    .name {
        grid-area: name;
    }
    .species {
        grid-area: species;
    }
    .level {
        grid-area: level;
        grid-template-rows: min-content auto;
    }
    .xp {
        grid-area: xp;
        grid-template-rows: min-content repeat(2, auto);
        .empty-box:nth-child(1) {
            border-bottom: 1px dotted black;
            border-bottom-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
        }
        .empty-box:nth-child(2) {
            border-top: none;
            border-top-left-radius: 0rem;
            border-top-right-radius: 0rem;
        }
    }
    .lang {
        grid-area: lang;
        grid-template-rows: min-content auto;
    }
    span {
        display: grid;
        grid-template-rows:
            min-content 20pt;
    }
}