<section class="card">
    <section class="card-title">
        <span class='important'>name</span> yourself, mark down <span class='important'>species</span> and <span class='important'>vocation</span> groups, and learn common and one other <span class='important'>language</span>
    </section>
    <section class="card-body">
        <span class="name">
            Name
            <div class='empty-box'></div>
        </span>
        <span class="species">
            Species & Vocation
            <div class='empty-box'></div>
        </span>
        <span class="level">
            Level
            <div class='empty-box'></div>
        </span>
        <span class="xp">
            XP
            <div class='empty-box'>
                <em>current</em>
            </div>
            <div class='empty-box'>
                <em>to next level</em>
            </div>
        </span>
        <span class="lang">
            Languages, Details, & Musings
            <div class='empty-box'>
                <em>+1 lang. int 13+ / +2 lang. int 16+</em>
            </div>
        </span>
    </section>
</section>