<h1 class='no-print'>
  codeLiches
</h1>

<section class='portfolio-section grid no-print'>
  <article class='projects-section'>
    <h2>
      code & apps
    </h2>
    <section class='wardenOS'>
      <a href='https://artliches.github.io/wardenOS'>
        wardenOS
      </a>
      <span>
         >> a collection of tools for use in the mothership RPG --> <span class='code-descrip'>pwa created with angular/css grid</span>
      </span>
    </section>

    <section class='winterNET'>
      <a href='https://artliches.github.io/deadhaltgashapon'>
        winterNET
      </a>
      <span>
         >> an in-game roller/artifact for the deadhalt RPG --> <span class=code-descrip>created with angular/css grid</span>
      </span>
    </section>
  </article>

  <article class='rpg-section'>
    <h2>
      role-playing games
    </h2>
    <section class='uvg'>
      <span class='title'>
        uvg & the black hack
      </span>
      <span class='descrip'>
        >> my personal mashup of ultraviolet grasslands and the black hack, including a <a class='clickable' (click)='printUVG()'>printable character sheet</a> and custom rules (coming soon)
      </span>
    </section>
  </article>
</section>

<section class='uvg-sheet grid print-only'>
  <section class='uvg-card hero-card'>
    <h1>
      HERO OF THE UVG
    </h1>
    <span class='uvg-card-body'>
      <span>who are you?</span>

      <section class='hero-section'>
        <div class='empty-box'></div>
        <span class='info-section'>
          <b>NAME</b>
          <span>
            Class
          </span>
          <span>
            Title
          </span>
          <span>
            Species
          </span>
        </span>
      </section>
    </span>
  </section>

  <section class='uvg-card hd-hp-card'>
    <h1>
      HD & LIFE
    </h1>
    <div class='uvg-card-body'>
      <span>roll hd to heal/starting life = 10</span>
      <section class='hd-hp-section grid'>
        <div class='empty-box'></div>
        <div class='empty-box'></div>
        <div class='empty-box'></div>
        <span>HD</span>
        <span>currLife</span>
        <span>maxLife</span>
      </section>
    </div>
  </section>

  <section class='uvg-card stats-card'>
    <h1>
      STATS
    </h1>
    <div class='uvg-card-body'>
      <span>the measure of a hero</span>
      <section class='stats-section grid'>
        <section>
          <section>
            STRENGTH
            <span>
              physical power, <b>melee attacks</b> and <b>melee defense</b>
            </span>
          </section>
          <div class='empty-box'>
          </div>
          <div class='empty-box'>
          </div>
        </section>

        <section>
          <section>
            ENDURANCE
            <span>
              resilience and physical well-being
            </span>
          </section>
          <div class='empty-box'>
          </div>
          <div class='empty-box'>
          </div>
        </section>

        <section>
          <section>
            AGILITY
            <span>
              swiftness, agiility, <b>ranged attacks</b> and <b>ranged defense</b>
            </span>
          </section>
          <div class='empty-box'>
          </div>
          <div class='empty-box'>
          </div>
        </section>

        <section>
          <section>
            CHARISMA
            <span>
              divine favour, fortune, and luck
            </span>
          </section>
          <div class='empty-box'>
          </div>
          <div class='empty-box'>
          </div>
        </section>

        <section>
          <section>
            AURA
            <span>
              mental and physical punishment, <b>divine spell power</b>
            </span>
          </section>
          <div class='empty-box'>
          </div>
          <div class='empty-box'>
          </div>
        </section>

        <section>
          <section>
            THOUGHT
            <span>
              mental aptitude, cognition, and <b>arcane spell power</b>
            </span>
          </section>
          <div class='empty-box'>
          </div>
          <div class='empty-box'>
          </div>
        </section>
      </section>
    </div>
  </section>

  <section class='uvg-card ability-section'>
    <h1>
      ABILITIES
    </h1>
    <section class='uvg-card-body'>
      <span>what makes you unique?</span>
      <section class='inventory-section grid'>
        <div *ngFor='let slot of inventory; index as i'>
        </div>
      </section>
    </section>
  </section>

  <section class='uvg-card pet-card'>
    <h1>
      THE PET
    </h1>
    <section class='uvg-card-body'>
      <span>faithful companion/albatross around your neck</span>
      <section class='hero-section'>
        <div class='empty-box'>
        </div>
        <span class='info-section'>
          <b>NAME</b>
          <span>
            Life
          </span>
          <span>
            Abilities
          </span>
          <span>
            Notes
          </span>
        </span>
      </section>
    </section>
  </section>

  <section class='uvg-card fatigue-card'>
    <h1>FATIGUE</h1>
    <section class='uvg-card-body'>
      <span>gain when life/stats < 0</span>
      <section class='grid fatigue-section'>
        <div *ngFor='let descrip of fatigue'>
          <input type="checkbox" id='{{descrip}}'>
          <label for='{{descrip}}'>{{descrip}}</label>
        </div>
      </section>
    </section>
  </section>

  <section class='uvg-card xp-card'>
    <h1>XP</h1>
    <section class='uvg-card-body xp-section grid'>
      <section class='experience-section grid'>
        <h2>
          EXPERIENCE
        </h2>
        <div class='empty-box'></div>
      </section>

      <section class='xp-layout-grid grid'>
        <div class='xp-grid grid' *ngFor='let xp of level; index as i'>
          <span class='circle'>
            {{i}} 
          </span>
          {{xp}}
        </div>
      </section>

    </section>
  </section>

  <section class='uvg-card heroics-card'>
    <h1>
      HEROICS
    </h1>
    <section class='uvg-card-body heroics-section grid'>
      <span>+1/real hour</span>
      <section class='circle-grid grid'>
        <div *ngFor='let circle of heroics; index as i'>
          <span *ngIf='i === 0'>
            d6
          </span>
          <input type='radio'>
        </div>
      </section>
    </section>
  </section>

  <section class='uvg-card armor-card'>
    <h1>
      ARMOR
    </h1>
    <section class='uvg-card-body'>
      <span>what's between you and the world?</span>
      <section class='wearable-section grid'>
        <section class='wearable-grid'>
          <span>
            NAME
          </span>
          <div class='empty-box'></div>
          <div class='empty-box'></div>
          <div class='empty-box'></div>
        </section>


        <section class='wearable-grid'>
          <span>
            AV
          </span>
          <div class='empty-box'></div>
          <div class='empty-box'></div>
          <div class='empty-box'></div>
        </section>
      </section>
    </section>
  </section>

  <section class='uvg-card inventory-card'>
    <h1>
      INVENTORY
    </h1>
    <section class='uvg-card-body'>
      <span># of times > strength? encumbered</span>
      <section class='inventory-section grid'>
        <div class='underline' *ngFor='let slot of inventory; index as i'>
        </div>
      </section>
    </section>
  </section>

  <section class='uvg-card weapons-card'>
    <h1>
      WEAPONS
    </h1>
    <section class='uvg-card-body'>
      <span>a sword is a curse</span>
      <section class='wearable-section grid'>
        <section class='wearable-grid'>
          <span>
            NAME
          </span>
          <div class='empty-box'></div>
          <div class='empty-box'></div>
          <div class='empty-box'></div>
        </section>

        <section class='wearable-grid'>
          <span>
            DMG
          </span>
          <div class='empty-box'></div>
          <div class='empty-box'></div>
          <div class='empty-box'></div>
        </section>
      </section>
    </section>
  </section>
</section>
