.grid {
    display: grid;
    &.center {
        place-content: center;
    }
}

.whitehack {
    .title {
        background-color: white;
        color: black;
    }
}

.cyBorg {
    .title {
        background-color: gold;
        color: magenta;
    }
}

.letter-size {
    background-color: white;
    color: black;
    font-size: 10pt;
    width: 11in;
    height: 8.5in;
    display: grid;
    place-self: center;
    grid-template-columns: repeat(3, 1fr);

    .spell-cheatsheet, .energy-cheatsheet {
        padding: 1rem;
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
        &>span {
            display: grid;
            grid-template-columns: 10% 90%;
        }
    }

    .spell-cheatsheet {
        border-bottom: 1px dotted black;
    }
}


.grey {
    background-color: lightgray;
}

.detail-font-size {
    font-size: 9pt;
}

.equipment-section {
    font-size: 10pt;
    height: 8.5in;
    width: 11in;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    color: black;
    padding: 0.5rem;

    strong {
        font-size: 12pt;
    }

    .equip-descrip {
        place-items: center;
        span {
            display: grid;
            row-gap: 1rem;
        }
    }

    .gear-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        strong {
            place-self: center;
        }

        .gear-list {
            padding: 0.5rem;
            padding-bottom: 1rem;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 1.5rem;

            >span {
                display: grid;
                grid-template-columns: 90% 10%;
            }
        }
    }

    .weapon-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        strong {
            place-self: center;
            
        }

        .weapon-list {
            padding: 0.5rem;
            padding-bottom: 1rem;
            grid-template-columns: repeat(2, 1fr);
            place-self: center;
            &>span {
                padding-bottom: 0.3rem;
                display: grid;
                column-gap: 0.3rem;
                grid-template-columns: 2fr repeat(4, 1fr) 3fr 1fr;
            }
        }
    }

    .armor-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        strong {
            place-self: center;
            
        }

        .armor-list {
            padding: 0.5rem;
            grid-template-columns: repeat(2, 1fr);
            place-self: center;
            &>span {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 0.5rem;
            }
        }
    }
}

@media print {
    .no-print {
        display: none;
    }
}