<h1 class='no-print'>
  codeLiches
</h1>

<section class='portfolio-section grid no-print'>
  <article class='projects-section'>
    <h2>
      code & apps
    </h2>
    <section class='wardenOS'>
      <a href='https://artliches.github.io/wardenOS'>
        wardenOS
      </a>
      <span>
         >> a collection of tools for use in the mothership RPG --> <span class='code-descrip'>pwa created with angular/css grid</span>
      </span>
    </section>

    <section class='winterNET'>
      <a href='https://artliches.github.io/deadhaltgaschapon/'>
        winterNET
      </a>
      <span>
         >> an in-game roller/artifact for the deadhalt RPG --> <span class=code-descrip>created with angular/css grid</span>
      </span>
    </section>
  </article>

  <article class='rpg-section'>
    <h2>
      role-playing games
    </h2>
    <section class='uvg'>
      <span class='title'>
        uvg & the black hack
      </span>
      <span class='descrip'>
        >> my personal mashup of ultraviolet grasslands and the black hack, including a <a class='clickable' (click)='printUVG()'>printable character sheet</a> and custom rules (coming soon!).
      </span>
    </section>
  </article>
</section>

<app-uvg-black-rules class='no-print' *ngIf='showUVGBlackRules'></app-uvg-black-rules>
<app-uvg-black-sheet class='print-only'></app-uvg-black-sheet>
