<section class='card'>
    <span class='card-title'>
        note what the <span class='important'>{{jobName}}</span> can do
    </span>
    <span class='card-body'>
        <section *ngFor="let classDetails of getObjSansClass(jobName, jobDescriptions) | keyvalue: originalOrder; first as isFirst">
            <strong [ngClass]="{'keyword-title': jobName === 'strong' && isFirst}">{{classDetails.key | uppercase}}</strong>
            <span class="strong-keyword" *ngIf="jobName === 'strong' && isFirst">
                <div class='empty-box'></div>
                <div class='empty-box'>
                    <em class='details'>current</em>
                </div>
                <div class='empty-box'>
                    <em class='details'>max</em>
                </div>
            </span>
            <span [innerHTML]="classDetails.value"></span>
        </section>
    </span>
</section>