@use '../wh-rules';

.card {
    height: 97%;
}
.card-body {
    row-gap: 0.3rem;
    section {
        text-transform: none;
        display: grid;
        grid-template-columns: 1fr;
        strong:not(.keyword-title) {
            border-bottom: 1px solid black;
        }
        .strong-keyword {
            display: grid;
            grid-template-columns: 70% 15% 15%;
            grid-template-rows: 1fr;
            .empty-box {
                height: 20pt;

                &:nth-child(1) {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-right: none;
                }

                &:nth-child(2) {
                    border-left: 1px dotted black;
                    border-right: 1px dotted black;
                    border-radius: 0px;
                }
                &:nth-child(3) {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-left: none;
                }
            }
        }
    }
}
    