<div [ngClass]="{'horz': horz}" class="card">
    <span class="card-title">
        <span class="important title">
            <strong>/// cybertech_apps_nano.torrent</strong>
        </span>
        <span class="important apps">
            <div>
                <span class="nano-app-descrip">
                    /// <strong>APPS:</strong>
                    Jack into your <strong>deck</strong> and slot in an <strong>App</strong>. While jacked in, all non-App actions +2DR. Test DR12 Knowledge to use Apps. <strong>Fumble</strong> burns the App for the day + trigger <strong>Backlash</strong> (pg. 72).
                    <div>/// Each App use adds +1 to Fumble when using Apps until next day.</div>
                </span>
                <span class="nano-app-fumble empty-box">
                    <em>app fumble</em>
                </span>
            </div>
        </span>

        <span class="important nano">
            <div>
                <span class="nano-app-descrip">
                    /// <strong>NANO:</strong>
                    Test DR12 Presence to use Nano. Failure&#8594;take d2 dmg.+<strong>Fumble</strong> triggers <strong>Infection</strong> (pg. 76) linked to that power.
                    <div>/// Each Nano use adds +1 to Fumble when using Nano until the next day.</div>
                </span>
                <span class="nano-app-fumble empty-box">
                    <em>nano fumble</em>
                </span>
            </div>
        </span>
    </span>
    <span class="card-body">
        <div *ngIf="!horz"></div>
    </span>
</div>