<section *ngFor='let class of classDescrptions' class='vamp-sheet'>
    <section class='bio-section generic-card'>
        <section class='card-title'>
            HELLO, MY NAME IS...
        </section>
        <section class='card-body'>
            <section>
                NAME
                <span class='empty-box'></span>
            </section>
            
            <section>
                LEVEL
                <span class='empty-box'></span>
            </section>
    
            <section>
                <ng-container>SPECIES & VOCATION</ng-container>
                <span class='empty-box'></span>
            </section>
    
            <section>
                XP
                <span class='empty-box'></span>
            </section>
    
            <section>
                LANGUAGES
                <span class='empty-box'></span>
            </section>
        </section>
    </section>

    <section class='job-section grid'>
        <strong>
            THE {{class.className | uppercase}}
        </strong>
        <em>
            {{class.description}}
        </em>
    </section>

    <section class='stats-section generic-card grey-card'>
        <section class='card-title'>
            ROLL 3D6 FOR EACH <span class='important'>TRAIT</span> AND PLACE IT IN THE CIRCLE. MARK <span class='important'>GROUPS</span> NEXT TO THEM.
        </section>
        <section class='card-body'>
            <section *ngFor="let stat of stats; first as isFirst" class='core-stat-section'>
                <section class='stat-descrip'>
                    <span>
                        {{stat.statName | uppercase}}
                    </span>
                    <em>
                        {{stat.descrption}}
                    </em>
                </section>
                <section class='stat-boxes'>
                    <div class='value circle'></div>
                    <div class='empty-box vampire-split'>
                        <div class='groups-section'>
                            <div class='border-section'></div>
                            <!-- <div>
                                <div class='stain'></div>
                                <div class='drop'></div>
                            </div> -->
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>

    <section class='non-core-section generic-card grey-card'>
        <section class='card-title'>
            MARK DOWN YOUR <span class='important'>STATS</span>, RE-ROLL <span class='important'>HD</span> EACH LEVEL
        </section>
        <section class='card-body'>
            <section *ngFor='let nStat of nonCoreStats' class='single-non-core-section'>
                <section class='stat-descrip'>
                    <span>
                        {{nStat.statName |uppercase}}
                    </span>
                    <em *ngIf='class.className === "strong" && nStat.strongDesc ||
                        class.className === "wise" && nStat.wiseDesc; else elseBlock'>
                        <em *ngIf='class.className === "strong"'>{{nStat.strongDesc}}</em>
                        <em *ngIf='class.className === "wise"'>{{nStat.wiseDesc}}</em>
                    </em>
                    <ng-template #elseBlock>
                        <em>
                            {{nStat.description}}
                        </em>
                    </ng-template>
                </section>
                <div class='circle'>
                    <span *ngIf="nStat.statName === 'initiative'">
                        +1
                    </span>
                </div>
                <div class='circle' *ngIf='nStat.statName === "hit points" || nStat.statName === "initiative"'>
                    <span *ngIf="nStat.statName === 'initiative'">
                        +2
                    </span>
                </div>

                <em class='hpText curr' *ngIf='nStat.statName === "hit points"'>CURRENT</em>
                <em class='hpText max' *ngIf='nStat.statName === "hit points"'>MAX</em>

            </section>
        </section>
    </section>

    <section class='job-features-section generic-card grey-card'>
        <section class='card-title'>NOTE WHAT YOUR <span class='important'>JOB</span> CAN DO</section>
        <section class='card-body'>
            <section *ngFor="let classInfo of getObjSansClass(class.className, classFeatures) | keyvalue: originalOrder; first as isFirst">
                <div [ngClass]="{'keyword-title': class.className === 'strong' && isFirst}" class='feature-title'>{{classInfo.key | titlecase}}</div>
                <div *ngIf='class.className === "strong" && isFirst' style="border: 2px solid black; height: 20px; background-color: white; border-radius: 1rem; margin-bottom: 0.5rem;"></div>
                <span [innerHTML]="classInfo.value"></span>
                <p></p>
            </section>
        </section>
    </section>

    <section class='slots-section generic-card grey-card'>
        <section class='card-title'>
            <span *ngIf='class.className === "strong"'>
                <span>
                    CHOOSE 1 <span class='important'>COMBAT OPTION</span> PER SLOT
                </span>
                <em>
                    gain new slots at level 4, 7, & 10
                </em> 
            </span>
            <span *ngIf='class.className === "deft"'>
                <span>
                    <span class='important'>ATTUNE</span> A TEACHER, ITEM, PET, OR PLACE
                </span>
                <em>
                    gain new slots at level 4, 7, & 10
                </em>
            </span>
            <span *ngIf='class.className === "wise"'>
                <span>
                    TIE <span class='important'>MIRACLES</span> TO SLOTS
                </span>
                <em>
                    gain new slots at level 3, 5, 7, & 9
                </em>
            </span>
        </section>
        <section class='card-body' *ngFor='let classSpecial of getObjSansClass(class.className, classSpecials) | keyvalue: originalOrder'>
            <span class='grid strong-options-grid' *ngIf='class.className === "strong"; else slotsSection'>
                <p class='strong-combat-options' *ngFor='let combatAction of classSpecial.value' [innerHTML]='combatAction'>
                </p>
            </span>
            <ng-template #slotsSection>
                <section class='slot-section grid'>
                    <section
                     [ngClass]="{'wiseSlot': class.className === 'wise'}" class='slot-split empty-box grid' *ngFor="let slot of classSpecial.value; first as isFirst; let i = index">
                        <div class='slot-box'></div>
                        <div class='slot-box'></div>
                        <div class='slot-box' *ngIf='class.className === "wise" && isFirst'>
                            <em>Req. 13+ WIS</em>
                        </div>
                        <div class='slot-box' *ngIf='class.className === "wise" && isFirst'>
                            <em>Req. 16+ WIS</em>
                        </div>
                    </section>
                </section>
            </ng-template>
        </section>
    </section>

    <section class='inventory-section generic-card'>
        <section class='card-title'>
            ROLL 3D6*10 <span class='important'>GOLD</span> TO START. YOU CAN HOLD 10 <span class='important'>REGULAR-SIZED OBJECTS</span> + 5 IN A <span class='important'>BACKPACK</span> BEFORE SLOWING DOWN. <span class='important'>HEAVY OBJECTS</span> TAKE TWO SLOTS; <span class='important'>MINOR OBJECTS</span> TAKE HALF A SLOT.
        </section>
        <section class='card-body'>
            <section class='main-inventory'>
                <div class='inventory-slot' *ngFor='let num of inventory'>
                    <span>{{num}}</span>
                    <div></div>
                    <div></div>
                </div>
            </section>
            
            <section class='extra-inventory'>
                <div class='inventory-slot' *ngFor='let num of extraInventory'>
                    <span>{{num}}</span>
                    <div></div>
                    <div></div>
                </div>
            </section>
        </section>
    </section>

    <section class='combat-options-section generic-card grey-card'>
        <span class='card-title'>
            SPECIAL COMBAT <span class='important'>MANUEVERS</span>
        </span>
        <span class='card-body'>
                <div><strong>Charge.</strong> Move 15 feet in a straight line and attack with combat advantage. -3 AC until your next turn.</div>
                <div><strong>Defense.</strong> Take -2 AV or -2 dmg., or -1 AV <i>and</i> -1 dmg., to get +2 AC</div>
                <div><strong>Offense.</strong> Take -2 AC and get +1 AV and +1 dmg. Lasts until your next turn.</div>
                <div><strong>Grapple.</strong> Make unarmed attack, but forsake dmg. to hold enemy. The enemy must win a contest against your STR to break free.</div>
                <div><strong>Protect.</strong> Make a <i>task roll</i> against your AV. On success, next attack on an adjacent friend targets you. Enemy may save to avoid.</div>
                <div><strong>Press.</strong> Take penalty to your AV when using a special combat option, give your enemy the same penalty. If you fail or if the save succeeds, the enemy gets combat adv. against you in the next round.</div>
                <div><strong>Persist.</strong> Once/combat, make an CON task roll or save against <i>incoming damage</i>. On success, reduce dmg. by d6. On fail and/or if dmg. takes you into negative HP, knocked out for 2 rounds.</div>

                <div><strong>Trick.</strong> Attack and exchange your damage roll for one of the following, each negated by enemy save:
                    <ul>
                      <li>
                        <strong>Push</strong> the enemy 5 ft. away, and follow if you like.
                      </li>
                      <li>
                        <strong>Feint</strong> to make 2 attacks with combat adv. next round.
                      </li>
                      <li>
                        <strong>Disarm</strong> the enemy to drop their weapon 2d6 ft. away.
                      </li>
                      <li>
                        <strong>Trip</strong> the enemy so that they lose their move in the next round, giving you combat adv.
                      </li>
                    </ul>
                  </div>
        </span>
    </section>
</section>