ul {
    margin: 0rem;
    padding-left: 15px;
}

$temp: (1: 'name', 2: 'level', 3: 'class', 4: 'xp', 5: 'lang', 6: 'lang');
$title-font: 'Baron Neue', sans-serif;
$box-size: 35px;
$standard-gap: 0.3rem;
$bio-card-color: red;
$inventory-card-color: hsl(22, 100%, 50%);
$background-grey: hsl(210, 11%, 93%);

em {
    font-size: 0.5rem;
}

.empty-box {
    border: 1px solid black;
    border-radius: 1rem;

    &.vampire-split {
        display: grid;
        .groups-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .border-section:nth-child(1) {
                border-right: 1px dotted black;
            }

            div:nth-child(2) {
                .stain {
                    position: relative;
                    top: 55%;
                    right: -90%;
                }

                .drop {
                    position: relative;
                    top: -15%;
                    right: -90%;
                }
            }
        }
    }
}

.stain {
    height: 7px;
    width: 7px;
    border: 1px solid black;
}

.drop {
    height: 7px;
    width: 7px;
    border-radius: 0 50% 50% 50%;
    border: 1px solid red;
    transform: rotate(45deg);
}

.card-title {
    font-family: $title-font;
    font-size: 5.9pt;
}

.empty-box, .circle {
    background-color: white;
    border-width: 2px;
}

.circle {
    display: grid;
    place-content: center;
}

.hunger-stains-section {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    div:nth-child(1) {
        border-bottom: 1px solid black;
    }
    em {
        font-size: 0.4rem;
    }
}

.stat-descrip {
    display: grid;
    place-content: center start;
    span {
        font-family: $title-font;
        font-size: 0.75rem;
    }
}

.generic-card.grey-card {
    background-color:  $background-grey ;
    border-color:  $background-grey ;
    padding: $standard-gap;
    height: auto;
}

.card-title {
    color: grey;
    border-bottom: 1px solid grey;
    .important {
        color: red;
    }
}

.vamp-sheet {
    background-color: white;
    color: black;
    height: 8.5in;
    width: 11in;
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 0.65rem;
    overflow: hidden;

    display: grid;
    grid-gap: $standard-gap;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, min-content);

    grid-template-areas:
        "bio    bio     bio     bio     job "
        "bio    bio     bio     bio     slots"
        "nCore  nCore   jFeat   com     slots"
        "stats  stats   jFeat   com     slots"
        "inven  inven   inven   inven   slots"
        "inven  inven   inven   inven   slots";
        // "bio    bio     bio     bio     job"
        // "bio    bio     bio     bio     job"
        // "nCore  nCore   jFeat   slots   com"
        // "stats  stats   jFeat   slots   com"
        // "inven  inven   inven   inven   inven"
        // "inven  inven   inven   inven   inven";

    .bio-section {
        grid-area: bio;
        height: auto;
        &.generic-card {
            border-color: $bio-card-color;
            border-width: 3px;
        }
        .empty-box {
            border-color: black;
        }

        .card-title {
            background-color: $bio-card-color;
            color: white;
            font-weight: bold;
            border-bottom: none;
            font-size: 10pt;
        }

        .card-body {
            grid-gap: 0.5rem;
            grid-template-columns: 45% 10% 43%;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "name   level   lang"
                "class  xp      lang";
            
            @each $num, $sec in $temp {
                section:nth-child(#{$num}) {
                    grid-area: #{$sec};
                }
            }
            section {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 2fr;
                width: 100%;
            }

            section:nth-child(5) {
                grid-template-rows: min-content 1fr;
            }
        }
    }

    .job-section {
        grid-area: job;
        strong {
            font-family: 'Baron Neue', sans-serif;
            font-size: .8rem;
            align-self: end;
            justify-self: center
        }
        em {
            align-self: start;
            justify-self: center;
            font-size: 5.5pt;
        }

        grid-template-columns: 1fr;
        // grid-template-rows: repeat(2, min-content);
    }

    .stats-section {
        grid-area: stats;
        height: auto;

        .card-body {
            height: min-content;
            grid-gap: 0.5rem;
        }

        .core-stat-section {
            .stat-boxes {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: $box-size 9fr;
                column-gap: $standard-gap;
            }
            display: grid;
            column-gap: $standard-gap;
            grid-template-columns: 20% 80%;
            grid-template-rows: $box-size;
        }

    }

    .non-core-section {
        grid-area: nCore;
        .card-body {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, min-content);
            grid-gap: 0.5rem;

            .single-non-core-section {
                display: grid;
                grid-template-columns: auto repeat(2, 30px);
                grid-template-rows: 30px;
                column-gap: $standard-gap;
                row-gap: 0rem;

                .hpText {
                    place-self: center;
                    &.curr  {
                        grid-column-start: 2; 
                    }
                    &.max {
                        grid-column-start: 3;
                    }
                }
            }
        }
    }

    .job-features-section {
        grid-area: jFeat;
        display: grid;

        .feature-title {
            font-family: $title-font;
            border-bottom: 1px solid black;

            &.keyword-title {
                border-bottom: none;
            }
        }
    }

    .slots-section {
        grid-area: slots;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;

        .card-title>span {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);

            em {
                font-size: 5pt;
            }
        }

        .strong-combat-options {
            &:before {
                content: '';
                border: 1px solid black;
                background-color: white;
                height: 10px;
                width: 10px;
                border-radius: 1rem;
                display: inline-block;
            }
            font-size: 12px;           
        }

        .strong-options-grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, max-content);
            row-gap: 1rem;

            p {
                margin: 0rem;
            }
        }

        .slot-section {
            grid-gap: 0.5rem;
        }

        .slot-split {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);

            &.wiseSlot {
                &:first-child {
                    grid-template-rows: repeat(4, 1fr);
                }
            }

            div.slot-box {
                display: grid;
                &:not(:last-child) {
                    border-bottom: 1px solid black;
                }
                &:before {
                    content: '';
                    border: 1px solid black;
                    border-radius: 1rem;
                    background-color: white;
                    display: block;
    
                    position: relative;
                    width: 10px;
                    height: 10px;
                    top: 40%;
                    right: 6.5px;
                }

                em {
                    position: relative;
                    top: 9px;
                    justify-self: end;
                    font-size: 0.7rem;
                    padding-right: 0.3rem;
                    color: grey;
                }
            }
        }
    }

    .inventory-section {
        grid-area: inven;

        &.generic-card {
            border-color: $background-grey;
            border-width: 3px;
        }

        .card-title {
            background-color: $background-grey;
            color: grey;
            border-bottom: none;
        }

        .card-body {
            display: grid;
            grid-template-areas:
                "main extra";
        
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: max-content;
            column-gap: 0.5rem;
            padding-bottom: 0rem;
            place-content: center;

            .main-inventory {
                grid-area: main;
                .inventory-slot > span {
                    color: darkgreen;
                }
            }

            .extra-inventory {
                grid-area: extra;
                .inventory-slot:nth-child(-n+5) {
                    color: rgb(226, 155, 0);
                }
                .inventory-slot:nth-child(n+6) {
                    color: rgb(192, 0, 0);
                }
            }

            .inventory-slot {
                display: grid;
                grid-template-columns: 0.1fr repeat(2, 1fr);
                grid-template-rows: 13.5pt;
                border-bottom: 1px solid black;

                span {
                    place-self: center start;
                    font-family: $title-font;
                }

                div:nth-child(3) {
                    border-left: 1px dotted black;
                }
            }
        }
    }

    .combat-options-section {
        grid-area: com;
        .card-body {
            display: grid;
            grid-template-rows: repeat(8, auto);
        }
    }

    .advancement-table-section {
        // height: min-content;
        display: grid;
        grid-area: adv;
        font-size: .79rem;

        .card-body {
            grid-template-columns: repeat(8, 1fr);
            .table-row>.bold-font {
                padding-bottom: 0.5rem;
            }
            .adv-headers {
                font-family: $title-font;
            }
        }

        &.generic-card {
            padding: $standard-gap;
        }
    }
}
