@use 'cyThemes';

@font-face {
    font-family: 'Baron Neue';
    src: url(assets/fonts/BaronNeue.otf) format("opentype");
}

@font-face {
    font-family: "Gabriela-Regular";
    src: local("Gabriela-Regular"), url(/assets/fonts/Gabriela-Regular.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url(./assets/fonts/RobotoMono-VariableFont_wght.ttf) format('opentype');
    font-weight: 100 1000;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"), url(./assets/fonts/Roboto-Regular.ttf) format('opentype');
    font-weight: 100 1000;
}

body {
    background-color: rgba(0, 0, 0, 0.935);
    margin: 1rem;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    // for use in whitehack sheets
    // font-family: 'Barlow Condensed', sans-serif;

    a {
        color: white;
    }

    h1 {
        font-family: 'Baron Neue', sans-serif;
    }
}


.print-only {
    display: none;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.generic-card {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "title"
        "body";
    overflow: hidden;
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 100%;

    .card-title {
        grid-area: title;
        padding: 0.3rem;
    }

    .card-body {
        display: grid;
        grid-area: body;
        padding: 0.3rem;
    }
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
}

.portfolio-section {
    grid-gap: 1rem;
    >article {
        h2 {
            margin: 0rem;
        }
        section {
            padding-left: 2rem;
        }
    }

    .wardenOS {
        a {
            color: lime;
            font-weight: bold;
        }
    }
    .winterNET {
        a {
            color: gold;
            font-weight: bold;
        }
    }
    .cyBorg {
        a {
            color: magenta;
            font-weight: bold;
        }
        .title {
            font-family: "Roboto Mono", sans-serif;
        }
    }
    .whitehack {
        a {
            color: white;
            font-weight: bold;
        }
        .title {
            font-family: "Gabriela-Regular", sans-serif;
        }
    }
    .uvg {
        .title {
            color: magenta;
        }
        .descrip > a {
            color: magenta;
        }
    }
    .code-descrip {
        color: cyan;
    }
}

.grid {
    display: grid;
}

@media print {
    body {
        background-color: white;
        margin: 0;
    }
}
