@page {
    size: 8.5in 11in;
}

body {
    background-color: black;
    margin: 1rem;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;

    a {
        color: white;
    }
}


.print-only {
    display: none;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.portfolio-section {
    grid-gap: 1rem;
    >article {
        h2 {
            margin: 0rem;
        }
        section {
            padding-left: 2rem;
        }
    }

    .wardenOS {
        a {
            color: lime;
            font-weight: bold;
        }
    }
    .winterNET {
        a {
            color: gold;
            font-weight: bold;
        }
    }
    .uvg {
        .title {
            color: magenta;
        }
        .descrip > a {
            color: magenta;
        }
    }
    .code-descrip {
        color: cyan;
    }
}

.grid {
    display: grid;
}

@media print {
    body {
        background-color: white;
        margin: 0;
    }
    .print-only {
        display: grid;
    }

    .no-print {
        display: none;
    }
    .stats-card {
        >section {
            >section {
                span {
                    font-size: 0.5rem;
                }
            }
        }
    }
}
